
# Import all packages listed as Imports or Depends
import("stats", "graphics", "grDevices", "mclust", "parallel", "foreach", "doParallel")

exportPattern ("^[^\\.]")

importFrom("utils", "citHeader")
importFrom("mclust", "hc")
importFrom("foreach", "foreach")
importFrom("doParallel", "registerDoParallel")
importFrom("parallel", "detectCores")


S3method(plot,otrimle)
S3method(plot,rimle)
S3method(print,otrimle)
S3method(print,rimle)

export(InitClust)
export(otrimle)
export(rimle)
